<!DOCTYPE html>
<html class="{{ .Page.RelPermalink }}" lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body class="d-flex h-100 text-center text-bg-dark">


  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        {{ block "header" . }}{{ end }}
      </div>
    </header>
  
    <main class="px-3">
      {{ block "main" . }}{{ end }}
    </main>
  
    <footer class="mt-auto text-white-50">
      {{ block "footer" . }}{{ end }} 
    </footer>
  </div>


  {{ partial "scripts.html" . }}

</body>

</html>