<!DOCTYPE html>
<html class="{{ .Page.RelPermalink }}" lang="{{ or site.Language.Locale site.Language.Lang }}"
  dir="{{ or site.Language.Direction `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body class="d-flex min-vh-100 text-center text-bg-dark">


  <div class="cover-container d-flex w-100 min-vh-100 p-3 mx-auto flex-column">
    <header>
      <div>
        {{ block "header" . }}{{ end }}
      </div>
    </header>
  
    <main class="px-3">
      {{ block "main" . }}{{ end }}
    </main>
  
    <section class="text-white-50">
      {{ block "footer" . }}{{ end }} 
    </section>

    <footer class="site-footer mt-auto pt-3 text-white-50 small">
      <span>&copy; 2026 Axol Studio, LLC</span>
    </footer>
  </div>


  {{ partial "scripts.html" . }}

</body>

</html>